daemon
log /dev/stdout
maxconn 1000

# DNS
nserver 1.1.1.1
nserver 8.8.8.8
nscache 65536

# Autenticação com usuário e senha (via variável)
auth strong
users $(PROXY_USER):CL:$(PROXY_PASS)

# Permite apenas o usuário configurado
allow $(PROXY_USER)

# SOCKS5
socks -p1080

# HTTP Proxy
proxy -p3128

flush